// colors
$white: #FFF;
$black: #000;
$aluminium: #A6A9B4;
$shushi: #7D993A;
$comet: #575C6F;

$text-color: $aluminium;

// fonts
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Playfair Display', serif;
$font-family-extra: 'Lobster', serir;

$font-size: 1rem;
$line-height: 1.5rem;