#header {
	margin-bottom: 4.375rem;

	@media screen and (max-width: 30.0625rem) {
		margin-bottom: 2.375rem;

		.custom-col-xs {
			width: 100%;
		}

		.site-logo {
			text-align: center;
			margin-bottom: 1.875rem;
		}
	}

	.logo {
		color: $shushi;
	}
}

.form-search {
	text-align: right;		
	position: relative;

	.form-group {
		width: 12.5rem;

		@media screen and (max-width: 48rem) {
			width: 100%;
		}
	}

	.search-input {
		border-color: lighten($text-color, 20%);
		border-radius: 0;
		@include box-shadow(inset 0 2px 2px rgba($black, 0.1));
		width: 100%;
		padding-right: 40px;
		font-size: 13px;
		color: $text-color;

		@media screen and (max-width: 48rem) {
			width: 90%;
			float: right;
		}

		@media screen and (max-width: 30.0625rem) {
			width: 100%;
		}
	}

	.btn {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		background-color: transparent;
		color: $text-color;
		@include transition(color .4s ease-in);

		&:hover {
			color: $black;
		}
	}

	::-webkit-input-placeholder {
		color: lighten($text-color, 10%);
		font-style: italic;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: lighten($text-color, 10%);
	  font-style: italic;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: lighten($text-color, 10%);
	  font-style: italic;
	}

	:-ms-input-placeholder { 
		color: lighten($text-color, 10%); 
	  font-style: italic;
	}
}
